# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mvp_usluge?schema=public"

# NextAuth
NEXTAUTH_SECRET="626uXSWiVMl2//XA8nTG1VkwjzIUKL3LsJHPKjj2y1w="
NEXTAUTH_URL="http://localhost:3000"

# Email (Resend)
RESEND_API_KEY="re_5qZXNMHG_8UESJM49KH2syQcXKRKYWBWV"
RESEND_FROM_EMAIL="onboarding@resend.dev"

# Cron
CRON_SECRET="dev-cron-secret-12345"

# Redis (Upstash)
UPSTASH_REDIS_REST_URL="https://decent-pangolin-30420.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AXbUAAIncDIxM2NmMWNlZmFlNWM0NGEwOTYzNDU3OWU0NTkzMGI5OHAyMzA0MjA"
